<div id="exportUmurinziInstanceModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exportUmurinziInstanceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeExportUmurinziInstanceModal()">&times;</button>
                <h4 class="modal-title" id="exportUmurinziInstanceModalLabel">{{msg('umurinzi.form.exportData')}}</h4>
            </div>
            <div class="modal-body">
                <form id="exportUmurinziInstanceForm" name="exportUmurinziInstanceForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="records">
                            {{msg('umurinzi.form.exportRecords')}}
                        </label>
                        <div class="form-inline col-md-4 col-sm-4">
                            <div class="btn-group" id="records">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{actualExportRecords}}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="records in availableExportRecords" ng-click="changeExportRecords(records)"><a>{{records}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="showFieldSelect">
                        <label class="col-sm-6 control-label" for="columns">
                            {{msg('mds.form.exportColumns')}}
                        </label>
                        <div class="form-inline col-md-4 col-sm-4">
                            <div ng-init="setDefaultExportColumns()" class="btn-group" id="columns">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{msg('mds.form.exportColumns.' + actualExportColumns)}}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="columns in availableExportColumns" ng-click="changeExportColumns(columns)"><a>{{ msg('mds.form.exportColumns.' + columns) }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="exportFormat">
                            {{msg('umurinzi.form.exportFormat')}}
                        </label>
                        <div class="form-inline col-md-4 col-sm-4">
                            <div class="btn-group" id="exportFormat">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{msg('umurinzi.form.exportFormat.' + exportFormat)}}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="format in availableExportFormats" ng-click="changeExportFormat(format)"><a>{{ msg('umurinzi.form.exportFormat.' + format) }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="exportWithOrder">
                            {{msg('umurinzi.form.exportWithOrder')}}
                        </label>
                        <div class="form-inline col-md-4 col-sm-4">
                            <div class="btn-group" id="exportWithOrder">
                                <input type="checkbox" ng-model="checkboxModel.exportWithOrder" ng-checked="checkboxModel.exportWithOrder">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="selectedLookup !== undefined || (selectedFilter !== undefined && selectedFilter.dateFilter !== undefined)">
                        <label class="col-sm-6 control-label" for="exportWithFilter">
                            {{msg('umurinzi.form.exportWithFilter')}}
                        </label>
                        <div class="form-inline col-md-4 col-sm-4">
                            <div class="btn-group" id="exportWithFilter">
                                <input type="checkbox" ng-model="checkboxModel.exportWithLookup" ng-checked="checkboxModel.exportWithLookup">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 text-center">
                        <span>{{msg('umurinzi.export.progress')}}</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{exportProgress}}"
                                 aria-valuemin="0" aria-valuemax="100" ng-style="{'width':exportProgress + '%'}">
                                <span>{{exportProgress}}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="confExportBtn" class="btn btn-primary" ng-disabled="disableExportButton" ng-click="exportInstance()">{{msg('umurinzi.btn.export')}}</button>
                <button class="btn btn-default" ng-click="closeExportUmurinziInstanceModal()">{{msg('umurinzi.btn.cancel')}}</button>
            </div>
        </div>
    </div>
</div>
