<div class="row">
    <h4 class="frame-title">{{msg('umurinzi')}}&nbsp;-&nbsp;{{msg('umurinzi.reports')}}</h4>
    <table class="table table-bundles table-bordered table-striped table-lightblue table-condensed">
        <thead>
        <tr>
            <th>{{msg('umurinzi.reports')}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a id="dailyClinicVisitScheduleReport" href="#/umurinzi/reports/dailyClinicVisitScheduleReport">{{msg('umurinzi.reports.dailyClinicVisitScheduleReport')}}</a></td>
        </tr>
        <tr>
            <td><a id="ivrAndSmsStatisticReport" href="#/umurinzi/reports/ivrAndSmsStatisticReport">{{msg('umurinzi.reports.ivrAndSmsStatisticReport')}}</a></td>
        </tr>
        <tr>
            <td><a id="MandEMissedClinicVisitsReport" href="#/umurinzi/reports/MandEMissedClinicVisitsReport">{{msg('umurinzi.reports.MandEMissedClinicVisitsReport')}}</a></td>
        </tr>
        <tr>
            <td><a id="optsOutOfMotechMessagesReport" href="#/umurinzi/reports/optsOutOfMotechMessagesReport">{{msg('umurinzi.reports.optsOutOfMotechMessagesReport')}}</a></td>
        </tr>
        <tr>
            <td><a id="callDetailRecord" href="#/umurinzi/callDetailRecord">{{msg('umurinzi.reports.callDetailRecord')}}</a></td>
        </tr>
        <tr>
            <td><a id="SMSLog" href="#/umurinzi/SMSLog">{{msg('umurinzi.reports.SMSLog')}}</a></td>
        </tr>
        </tbody>
    </table>
</div>
